html{
    background-size: 100%;
   /* background: linear-gradient(-90deg, #f26627,#fca874, #efeeee, #98d7d1, #325d79);*/
   /*background: linear-gradient(to bottom,#ef3d59,#e17a47, #efc958, #4ab19d, #344e5c);*/
   
   /*background:linear-gradient(-90deg, #fdea79,#a8a355, #4f4039);*/
   background-image: url(https://i.pinimg.com/564x/66/95/2d/66952daa69cc3f390d403b7835750f30.jpg);
 /* background-attachment: fixed;*/

}
html::before{
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(18, 19, 18, 0.521);
}
#desplazamiento{
    margin-bottom: 15px; 
}
#texto{
    margin-bottom: 20px;
    width:500px;
    height:150px;
    border: 2px;
}

#contenedor{
    position: relative;
    text-align:center;
    margin:auto;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;
    background-color:rgba(255, 255, 255, 0.959);
    margin: 8vh 25vw;
    padding: 3vh 4vw 5vh 4vw;
    border-radius: 24px;    
    line-height : 25px;
    box-shadow: 8px 8px 20px rgb(7, 7, 7);
}

  .fondoTransparente{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}
.modal{
    background: linear-gradient(0deg,white 70%, rgb(61, 163, 1) 30%);
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   position: absolute;
    display: flex;
    flex-direction: column;
   /* justify-content: space-evenly;*/
    align-items: center;
    border-radius: 30px;

}
.modal_cerrar{
    background: white;
    position: absolute;
    right: -20px;
    color: rgb(61, 163, 1) 30%;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal_titulo{
    padding-top: 20px;;
    color: white;
    font-size: 40px;
}
.modal_mensaje{            
    padding: 20px 30px;
}
.modal_botones{      
    width: 100%;    
 /*  background: whitesmoke;*/
   border-top:whitesmoke 1px;
   padding-top: 20px;
   display: flex;
   justify-content: space-evenly;
}
.boton{
    background: white;
    padding: 8px 30px;
    color: rgb(61, 163, 1) 30%;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid rgb(84, 170, 4)
}
.boton:hover{
    background: rgb(70, 173, 1);
    color: white;
}



@media (max-width: 1129px) {
    #texto{
        width:400px;
        height:150px;
        border: 2px;
    }
   
  }

  @media (max-width: 1040px) {
    #texto{
        width:350px;
        height:150px;
        border: 2px;
    }
   
  
  }